body {
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: scrollbar; }

#offcanvas-sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 150ms ease; }

#page-wrap {
  background: #fff;
  transition: all 150ms ease; }

#offcanvas-navicon {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  height: 28px;
  width: 30px;
  z-index: 101;
  transition: all 150ms ease; }
  #offcanvas-navicon:after, #offcanvas-navicon:before,
  #offcanvas-navicon span {
    display: block;
    content: '';
    display: block;
    height: 2px;
    margin: 5px;
    border-radius: 2px;
    background: #000;
    transition: all 150ms ease; }
  #offcanvas-navicon:hover {
    cursor: pointer; }

/*.offcanvas-open #offcanvas-navicon {
  position: fixed;
  top: 0;
  left: 250px;
  transform: translateY(0);
  background: #f0f0f0;
  border-color: transparent;
  border-radius: 0 4px 4px 0;
  height: 40px;
  width: 40px;
  padding: 5px;

  &:before {
			transform: translate3d(0, 8px, 0) rotate(135deg);
    }
    &:after {
			transform: translate3d(0, -8px, 0) rotate(-135deg);
    }
    span {
      margin: 5.5px;
			transform: scale(0);
    }
}*/
#offcanvas-sidebar {
  background: #f0f0f0; }
  #offcanvas-sidebar h4 {
    margin: 24px 0 0;
    color: #aaa;
    padding: 8px 16px; }
  #offcanvas-sidebar h4 a {
    margin: -8px -16px; }
  #offcanvas-sidebar ul {
    margin: 0;
    border-top: 1px solid #999;
    list-style-type: none;
    padding: 0; }
  #offcanvas-sidebar li {
    border-bottom: 1px solid #999; }
  #offcanvas-sidebar a {
    display: block;
    padding: 8px 16px;
    color: #aaa;
    text-decoration: none;
    transition: all 0.25s ease; }
    #offcanvas-sidebar a:hover {
      cursor: pointer; }
  #offcanvas-sidebar ul ul {
    display: none;
    position: absolute;
    float: right;
    margin-top: -41px;
    margin-left: 250px; }
  #offcanvas-sidebar div {
    transition: all 150ms ease; }
  #offcanvas-sidebar.offcanvas-child-open > div {
    margin-left: -250px; }
    #offcanvas-sidebar.offcanvas-child-open > div .offcanvas-child-visible {
      display: block; }

.offcanvas-child-link {
  position: absolute;
  display: inline-block;
  width: 44px;
  height: 40px;
  margin-top: -40px;
  margin-left: 206px;
  border-left: 1px solid #999;
  padding: 6px 16px;
  background: #111;
  color: #aaa;
  text-decoration: none;
  transition: all 0.25s ease; }
  .offcanvas-child-link:hover {
    cursor: pointer; }

.offcanvas-child-back-link {
  position: absolute;
  display: block;
  width: 100%;
  margin-top: -42px;
  border-top: 1px solid #999;
  padding: 8px 16px;
  color: #aaa;
  text-decoration: none;
  transition: all 0.25s ease; }
  .offcanvas-child-back-link:hover {
    cursor: pointer; }

body #offcanvas-sidebar {
  right: 0;
  z-index: 101;
  margin-right: -250px; }
body.offcanvas-open #page-wrap {
  margin-left: -250px;
  margin-right: 250px; }
body.offcanvas-open #offcanvas-sidebar {
  margin-right: 0; }

/*
Example media query - to hide Offcanvas on screen widths above 768px.

@media (min-width: 768px) {
	#offcanvas-navicon,
	#offcanvas-overlay,
	#offcanvas-sidebar {
		display: none;
	}
}
*/

/*# sourceMappingURL=offcanvas.css.map */
