html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  li,
  list-inline-item {
    display: inline-block;
  }
}
.text-grey{
  color: $grey1
}

.underline{
  text-decoration: underline;
}


button,
a:visited,
a:active,
a:focus {
  outline: none;
}

.slick-slider {
  &:focus,
  .slick-slide:focus,
  a:visited,
  a:active,
  a:focus {
    outline: none;
  }
}
