$grey1 : rgba(112, 112, 112, .5);
$light-grey: rgba(0, 0, 0, 0.16);
$grey-cc:#ccc;
$off-white:#f4f4f5;
$white:#fff;
$yellow: #f5c524;
$regular-text: #191515;
$red: #cb0808;
$red-2f: #c4122f;
$red-07: #d00707;
$red-light: #ec4b14;
$navy-blue : #3d438c;