$grey1 : #707070;
$light-grey: rgba(0, 0, 0, 0.16);
$grey-cc:#ccc;
$light-grey-1:rgba(217, 217, 217, 0.46);
$light-grey-2:rgba(239, 237, 237, 0.46);
$off-white:#f4f4f5;
$white:#fff;
$yellow: #f5c524;
$regular-text: #191515;
$red: #cb0808;
$red-2f: #c4122f;
$red-07: #d00707;

$red-light: #ec4b14;
$dark-pink: #c4122f;

$shadow:  rgba(50,50,50,0.2);
$navy-blue : #3d438c;
$blue: #26358c;
$blue-93: #344293;

