@import "partials/variables";
@import "partials/mixins";
@import "partials/gutters";
@import "partials/global";
@import "bootstrap/bootstrap";

@import "libraries/offcanvas-sidebar/offcanvas";

@import "common/fonts";
@import "common/header";
@import "common/footer";



body {
  @include offcanvas-push-left;

  &.offcanvas-open {
    overflow-y: hidden;

    #offcanvas-overlay {
      display: block;
    }
  }
}

#offcanvas-overlay {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 300%;
  width: 300%;
}


@media (max-width: 767px) {

}

@media (min-width: 768px) {
  body #offcanvas-sidebar {
    position: static;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    padding-top: 0;
    width: auto;
    height: auto;

    ul {
      width: auto;
      margin: 0;
      border-top: none;
      padding: 0;
    }
    li {
      border-bottom: none;
    }
    a {
      padding: 0;
      color: inherit;

      &:hover {
        color: inherit;
        background: transparent;
      }
    }
  }
  #multiple-menu-tab {
    display: none;
  }

}

.main-breadcrumb {

  .breadcrumb-list {
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 0;
  }
  .list-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;

    &:first-child {
      padding-left: 5px;
      &:before {
        display: none;
      }
    }
    &:last-child {
      .item-link {
        opacity: .5;
        cursor: default;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 50%;
      height: 8px;
      width: 8px;
      border-style: solid;
      border-color: #999;
      border-width: 0 1px 1px 0;
      transform: translateY(-50%) rotate(-45deg);
    }

  }
  .item-link {
    color: inherit;
    position: relative;
    top: 2px;
    transition: color ease-in-out 300ms;

    &:hover {
      color: #c4122f;
      text-decoration: none;
    }
  }
}
