@charset "UTF-8";
.m0 {
  margin: 0px; }

.mt0 {
  margin-top: 0px; }

.mr0 {
  margin-right: 0px; }

.mb0 {
  margin-bottom: 0px; }

.ml0 {
  margin-left: 0px; }

.mtb0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.mrl0 {
  margin-right: 0px;
  margin-left: 0px; }

.m5 {
  margin: 5px; }

.mt5 {
  margin-top: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.ml5 {
  margin-left: 5px; }

.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mrl5 {
  margin-right: 5px;
  margin-left: 5px; }

.m10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.ml10 {
  margin-left: 10px; }

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mrl10 {
  margin-right: 10px;
  margin-left: 10px; }

.m15 {
  margin: 15px; }

.mt15 {
  margin-top: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mrl15 {
  margin-right: 15px;
  margin-left: 15px; }

.m20 {
  margin: 20px; }

.mt20 {
  margin-top: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.ml20 {
  margin-left: 20px; }

.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mrl20 {
  margin-right: 20px;
  margin-left: 20px; }

.m25 {
  margin: 25px; }

.mt25 {
  margin-top: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.ml25 {
  margin-left: 25px; }

.mtb25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mrl25 {
  margin-right: 25px;
  margin-left: 25px; }

.m30 {
  margin: 30px; }

.mt30 {
  margin-top: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.ml30 {
  margin-left: 30px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mrl30 {
  margin-right: 30px;
  margin-left: 30px; }

.m35 {
  margin: 35px; }

.mt35 {
  margin-top: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.ml35 {
  margin-left: 35px; }

.mtb35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mrl35 {
  margin-right: 35px;
  margin-left: 35px; }

.m40 {
  margin: 40px; }

.mt40 {
  margin-top: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.ml40 {
  margin-left: 40px; }

.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mrl40 {
  margin-right: 40px;
  margin-left: 40px; }

.m45 {
  margin: 45px; }

.mt45 {
  margin-top: 45px; }

.mr45 {
  margin-right: 45px; }

.mb45 {
  margin-bottom: 45px; }

.ml45 {
  margin-left: 45px; }

.mtb45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.mrl45 {
  margin-right: 45px;
  margin-left: 45px; }

.m50 {
  margin: 50px; }

.mt50 {
  margin-top: 50px; }

.mr50 {
  margin-right: 50px; }

.mb50 {
  margin-bottom: 50px; }

.ml50 {
  margin-left: 50px; }

.mtb50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.mrl50 {
  margin-right: 50px;
  margin-left: 50px; }

.m55 {
  margin: 55px; }

.mt55 {
  margin-top: 55px; }

.mr55 {
  margin-right: 55px; }

.mb55 {
  margin-bottom: 55px; }

.ml55 {
  margin-left: 55px; }

.mtb55 {
  margin-top: 55px;
  margin-bottom: 55px; }

.mrl55 {
  margin-right: 55px;
  margin-left: 55px; }

.m60 {
  margin: 60px; }

.mt60 {
  margin-top: 60px; }

.mr60 {
  margin-right: 60px; }

.mb60 {
  margin-bottom: 60px; }

.ml60 {
  margin-left: 60px; }

.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mrl60 {
  margin-right: 60px;
  margin-left: 60px; }

.p0 {
  padding: 0px; }

.pt0 {
  padding-top: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.pl0 {
  padding-left: 0px; }

.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.prl0 {
  padding-left: 0px;
  padding-right: 0px; }

.p5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.pl5 {
  padding-left: 5px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.prl5 {
  padding-left: 5px;
  padding-right: 5px; }

.p10 {
  padding: 10px; }

.pt10 {
  padding-top: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pl10 {
  padding-left: 10px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.prl10 {
  padding-left: 10px;
  padding-right: 10px; }

.p15 {
  padding: 15px; }

.pt15 {
  padding-top: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pl15 {
  padding-left: 15px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.prl15 {
  padding-left: 15px;
  padding-right: 15px; }

.p20 {
  padding: 20px; }

.pt20 {
  padding-top: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pl20 {
  padding-left: 20px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.prl20 {
  padding-left: 20px;
  padding-right: 20px; }

.p25 {
  padding: 25px; }

.pt25 {
  padding-top: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.pl25 {
  padding-left: 25px; }

.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.prl25 {
  padding-left: 25px;
  padding-right: 25px; }

.p30 {
  padding: 30px; }

.pt30 {
  padding-top: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pl30 {
  padding-left: 30px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.prl30 {
  padding-left: 30px;
  padding-right: 30px; }

.p35 {
  padding: 35px; }

.pt35 {
  padding-top: 35px; }

.pr35 {
  padding-right: 35px; }

.pb35 {
  padding-bottom: 35px; }

.pl35 {
  padding-left: 35px; }

.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.prl35 {
  padding-left: 35px;
  padding-right: 35px; }

.p40 {
  padding: 40px; }

.pt40 {
  padding-top: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pl40 {
  padding-left: 40px; }

.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.prl40 {
  padding-left: 40px;
  padding-right: 40px; }

.p45 {
  padding: 45px; }

.pt45 {
  padding-top: 45px; }

.pr45 {
  padding-right: 45px; }

.pb45 {
  padding-bottom: 45px; }

.pl45 {
  padding-left: 45px; }

.ptb45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.prl45 {
  padding-left: 45px;
  padding-right: 45px; }

.p50 {
  padding: 50px; }

.pt50 {
  padding-top: 50px; }

.pr50 {
  padding-right: 50px; }

.pb50 {
  padding-bottom: 50px; }

.pl50 {
  padding-left: 50px; }

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.prl50 {
  padding-left: 50px;
  padding-right: 50px; }

.p55 {
  padding: 55px; }

.pt55 {
  padding-top: 55px; }

.pr55 {
  padding-right: 55px; }

.pb55 {
  padding-bottom: 55px; }

.pl55 {
  padding-left: 55px; }

.ptb55 {
  padding-top: 55px;
  padding-bottom: 55px; }

.prl55 {
  padding-left: 55px;
  padding-right: 55px; }

.p60 {
  padding: 60px; }

.pt60 {
  padding-top: 60px; }

.pr60 {
  padding-right: 60px; }

.pb60 {
  padding-bottom: 60px; }

.pl60 {
  padding-left: 60px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.prl60 {
  padding-left: 60px;
  padding-right: 60px; }

html,
body {
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4; }

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline li,
.list-inline list-inline-item {
  display: inline-block; }

.text-grey {
  color: #707070; }

.underline {
  text-decoration: underline; }

button,
a:visited,
a:active,
a:focus {
  outline: none; }

.slick-slider:focus,
.slick-slider .slick-slide:focus,
.slick-slider a:visited,
.slick-slider a:active,
.slick-slider a:focus {
  outline: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.dashed-border {
  border-bottom: 2px dashed rgba(112, 112, 112, 0.5);
  margin-bottom: 30px; }

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px; }

.rating-stars {
  position: relative;
  display: inline-block; }
  .rating-stars span, .rating-stars i {
    display: inline-block; }
  .rating-stars .star {
    font-size: 0;
    float: left;
    margin-right: 5px; }
    .rating-stars .star:last-child {
      margin-right: 0; }
    .rating-stars .star svg {
      display: inline-block;
      width: 27px;
      height: 25px; }
  .rating-stars .default-fill {
    color: #fff; }
  .rating-stars .default-outline {
    color: #d82e29; }
  .rating-stars .rated-fill {
    color: #d82e29; }
  .rating-stars .rated-outline {
    color: #d82e29; }
  .rating-stars .default, .rating-stars rated {
    position: relative; }
  .rating-stars .default, .rating-stars .rated {
    width: 155px; }
    .rating-stars .default .default-fill,
    .rating-stars .default .default-outline,
    .rating-stars .default .rated-fill,
    .rating-stars .default .rated-outline, .rating-stars .rated .default-fill,
    .rating-stars .rated .default-outline,
    .rating-stars .rated .rated-fill,
    .rating-stars .rated .rated-outline {
      font-size: 0;
      position: absolute; }
  .rating-stars .rated {
    width: 155px;
    height: 25px;
    overflow: hidden; }
    .rating-stars .rated .rated-value {
      height: inherit;
      position: relative;
      overflow: hidden; }
    .rating-stars .rated .rated-fill,
    .rating-stars .rated .rated-outline {
      width: 155px;
      overflow: hidden;
      height: inherit; }

.product-section .product-details-wrap {
  padding-top: 40px; }
  @media (max-width: 767px) {
    .product-section .product-details-wrap {
      padding-top: 10px; } }
.product-section .product-info-wrap a {
  text-decoration: underline; }
.product-section .product-info-wrap .product-title {
  font-weight: bold; }
.product-section .product-info-wrap .product-subtitle {
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: normal; }
.product-section .product-info-wrap .rating-container .rating-info {
  font-size: 20px;
  color: #707070; }
.product-section .product-info-wrap .author-info,
.product-section .product-info-wrap .book-trace,
.product-section .product-info-wrap .book-description {
  font-size: 15px; }
.product-section .product-info-wrap .book-trace {
  color: #707070; }
.product-section .product-info-wrap .offer-info {
  font-size: 20px; }
.product-section .product-info-wrap .read-more {
  color: #c4122f;
  text-decoration: none; }
  .product-section .product-info-wrap .read-more:hover {
    text-decoration: underline; }
.product-section .action-card .product-sharing .sharing-text {
  font-size: 18px;
  position: relative;
  top: 2px; }
.product-section .action-card .product-sharing .list-item {
  margin-right: 5px;
  margin-left: 5px; }
.product-section .action-card .action-card-inner {
  border: solid 1px rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #d9d9d9, #efeded);
  padding: 30px 20px 20px; }
  @media (max-width: 767px) {
    .product-section .action-card .action-card-inner {
      background: none;
      border: none;
      padding: 0; }
      .product-section .action-card .action-card-inner .price-offer-info {
        border: solid 1px rgba(0, 0, 0, 0.35);
        border-radius: 2px;
        background-image: linear-gradient(to bottom, #d9d9d9, #efeded);
        padding: 15px 20px 0px;
        margin-bottom: 20px; } }
  .product-section .action-card .action-card-inner .mrp {
    font-size: 30px; }
  .product-section .action-card .action-card-inner .buy-now-price,
  .product-section .action-card .action-card-inner .offer-text {
    font-size: 18px; }
  .product-section .action-card .action-card-inner .offer-text {
    color: #26358c; }
  .product-section .action-card .action-card-inner .cta-wrap .button {
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
    background: #344293;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px; }
    .product-section .action-card .action-card-inner .cta-wrap .button.buy-now {
      background: #d86629;
      background-image: linear-gradient(to bottom, #f57840, #d86629);
      border-radius: 2px;
      font-size: 22px;
      text-transform: uppercase; }
    .product-section .action-card .action-card-inner .cta-wrap .button span {
      margin-left: 6px;
      position: relative;
      top: 2px; }
  @media (max-width: 767px) {
    .product-section .action-card .action-card-inner .cta-wrap {
      background: #fff;
      border-radius: 10px;
      position: sticky;
      bottom: 0;
      z-index: 9; }
      .product-section .action-card .action-card-inner .cta-wrap .wishlist {
        background: #fff;
        border: 1px solid #344293;
        border-right-color: #fff;
        color: #344293;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        max-width: 80px; }
      .product-section .action-card .action-card-inner .cta-wrap .add-to-cart {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; } }

.about-author .text-content {
  font-size: 15px; }
.about-author .read-more {
  color: #c4122f; }

.matching-combo .combo-list {
  margin-right: -15px;
  margin-left: -15px; }
  .matching-combo .combo-list .list-item {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px; }
    .matching-combo .combo-list .list-item:nth-child(even) {
      padding-right: 0;
      padding-left: 0; }
    .matching-combo .combo-list .list-item:last-child {
      padding-right: 15px;
      padding-left: 15px; }
  .matching-combo .combo-list .add {
    font-size: 50px;
    font-weight: bold; }
  .matching-combo .combo-list .cta {
    min-width: 230px;
    width: 100%;
    padding: 8px 15px;
    font-size: 20px;
    background: #344293;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px; }
    .matching-combo .combo-list .cta svg {
      margin-right: 10px; }
  @media (max-width: 460px) {
    .matching-combo .combo-list .combo-img {
      max-width: 115px; }
    .matching-combo .combo-list .add {
      font-size: 30px; } }
@media (max-width: 767px) {
  .matching-combo .combo-list-wrap {
    margin-right: auto;
    margin-left: auto; } }

.editors-pick .customer-choice-carousel .book-banner-link,
.editors-pick .editors-pick-carousel .book-banner-link,
.customer-choice .customer-choice-carousel .book-banner-link,
.customer-choice .editors-pick-carousel .book-banner-link {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px; }
.editors-pick .customer-choice-carousel .slick-arrow,
.editors-pick .editors-pick-carousel .slick-arrow,
.customer-choice .customer-choice-carousel .slick-arrow,
.customer-choice .editors-pick-carousel .slick-arrow {
  width: 32px;
  height: 32px; }
.editors-pick .customer-choice-carousel .slick-prev:before,
.editors-pick .customer-choice-carousel .slick-next:before,
.editors-pick .editors-pick-carousel .slick-prev:before,
.editors-pick .editors-pick-carousel .slick-next:before,
.customer-choice .customer-choice-carousel .slick-prev:before,
.customer-choice .customer-choice-carousel .slick-next:before,
.customer-choice .editors-pick-carousel .slick-prev:before,
.customer-choice .editors-pick-carousel .slick-next:before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit; }
.editors-pick .customer-choice-carousel .slick-prev:before,
.editors-pick .editors-pick-carousel .slick-prev:before,
.customer-choice .customer-choice-carousel .slick-prev:before,
.customer-choice .editors-pick-carousel .slick-prev:before {
  background: url("/assets/images/carousel_arrow_prev.svg") no-repeat 0 0/contain; }
.editors-pick .customer-choice-carousel .slick-next:before,
.editors-pick .editors-pick-carousel .slick-next:before,
.customer-choice .customer-choice-carousel .slick-next:before,
.customer-choice .editors-pick-carousel .slick-next:before {
  background: url("/assets/images/carousel_arrow_next.svg") no-repeat 0 0/contain; }
@media (max-width: 767px) {
  .editors-pick .customer-choice-carousel .slick-prev,
  .editors-pick .editors-pick-carousel .slick-prev,
  .customer-choice .customer-choice-carousel .slick-prev,
  .customer-choice .editors-pick-carousel .slick-prev {
    left: -15px; }
  .editors-pick .customer-choice-carousel .slick-next,
  .editors-pick .editors-pick-carousel .slick-next,
  .customer-choice .customer-choice-carousel .slick-next,
  .customer-choice .editors-pick-carousel .slick-next {
    right: -15px; }
  .editors-pick .customer-choice-carousel .slick-prev:before,
  .editors-pick .customer-choice-carousel .slick-next:before,
  .editors-pick .editors-pick-carousel .slick-prev:before,
  .editors-pick .editors-pick-carousel .slick-next:before,
  .customer-choice .customer-choice-carousel .slick-prev:before,
  .customer-choice .customer-choice-carousel .slick-next:before,
  .customer-choice .editors-pick-carousel .slick-prev:before,
  .customer-choice .editors-pick-carousel .slick-next:before {
    width: 14px;
    height: 22px; } }
@media (max-width: 575px) {
  .editors-pick,
  .customer-choice {
    padding-right: 0;
    padding-left: 0; } }

@media (max-width: 1200px) {
  .product-section .product-info-wrap .offer-info {
    font-size: 17px; }
  .product-section .product-info-wrap .product-title {
    font-size: 30px; }
  .product-section .product-info-wrap .product-subtitle,
  .product-section .product-info-wrap .rating-container .rating-info {
    font-size: 18px; }
  .product-section .action-card .product-sharing .sharing-text {
    display: block; }
  .product-section .action-card .action-card-inner {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px; }
    .product-section .action-card .action-card-inner .mrp {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 10px; }
    .product-section .action-card .action-card-inner .buy-now-price,
    .product-section .action-card .action-card-inner .offer-text {
      font-size: 18px;
      margin-bottom: 10px; }
    .product-section .action-card .action-card-inner .cta-wrap .button {
      font-size: 18px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .product-section .action-card .action-card-inner .buy-now-price,
  .product-section .action-card .action-card-inner .offer-text {
    font-size: 16px; } }
@media (max-width: 767px) {
  .product-section .product-details-wrap {
    margin-bottom: 30px; }
  .product-section .product-img-inner {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
  .product-section .product-info-wrap .offer-info {
    font-size: 17px;
    margin-top: 15px; }
  .product-section .product-info-wrap .product-title {
    font-size: 30px; }
  .product-section .product-info-wrap .product-subtitle,
  .product-section .product-info-wrap .rating-container .rating-info {
    font-size: 18px; }
  .product-section .action-card .product-sharing .sharing-list {
    margin-bottom: 0; }
  .product-section .action-card .product-sharing .sharing-text {
    display: inline-block;
    margin-left: 0; }
  .product-section .action-card .action-card-inner {
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0; }
    .product-section .action-card .action-card-inner .cta-wrap .button {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px; }
      .product-section .action-card .action-card-inner .cta-wrap .button span {
        position: relative;
        top: 2px; } }

/*# sourceMappingURL=product-details.css.map */
