@charset "UTF-8";
.m0 {
  margin: 0px; }

.mt0 {
  margin-top: 0px; }

.mr0 {
  margin-right: 0px; }

.mb0 {
  margin-bottom: 0px; }

.ml0 {
  margin-left: 0px; }

.mtb0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.mrl0 {
  margin-right: 0px;
  margin-left: 0px; }

.m5 {
  margin: 5px; }

.mt5 {
  margin-top: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.ml5 {
  margin-left: 5px; }

.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mrl5 {
  margin-right: 5px;
  margin-left: 5px; }

.m10 {
  margin: 10px; }

.mt10 {
  margin-top: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.ml10 {
  margin-left: 10px; }

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mrl10 {
  margin-right: 10px;
  margin-left: 10px; }

.m15 {
  margin: 15px; }

.mt15 {
  margin-top: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mrl15 {
  margin-right: 15px;
  margin-left: 15px; }

.m20 {
  margin: 20px; }

.mt20 {
  margin-top: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.ml20 {
  margin-left: 20px; }

.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mrl20 {
  margin-right: 20px;
  margin-left: 20px; }

.m25 {
  margin: 25px; }

.mt25 {
  margin-top: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.ml25 {
  margin-left: 25px; }

.mtb25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mrl25 {
  margin-right: 25px;
  margin-left: 25px; }

.m30 {
  margin: 30px; }

.mt30 {
  margin-top: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.ml30 {
  margin-left: 30px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mrl30 {
  margin-right: 30px;
  margin-left: 30px; }

.m35 {
  margin: 35px; }

.mt35 {
  margin-top: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.ml35 {
  margin-left: 35px; }

.mtb35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mrl35 {
  margin-right: 35px;
  margin-left: 35px; }

.m40 {
  margin: 40px; }

.mt40 {
  margin-top: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.ml40 {
  margin-left: 40px; }

.mtb40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mrl40 {
  margin-right: 40px;
  margin-left: 40px; }

.m45 {
  margin: 45px; }

.mt45 {
  margin-top: 45px; }

.mr45 {
  margin-right: 45px; }

.mb45 {
  margin-bottom: 45px; }

.ml45 {
  margin-left: 45px; }

.mtb45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.mrl45 {
  margin-right: 45px;
  margin-left: 45px; }

.m50 {
  margin: 50px; }

.mt50 {
  margin-top: 50px; }

.mr50 {
  margin-right: 50px; }

.mb50 {
  margin-bottom: 50px; }

.ml50 {
  margin-left: 50px; }

.mtb50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.mrl50 {
  margin-right: 50px;
  margin-left: 50px; }

.m55 {
  margin: 55px; }

.mt55 {
  margin-top: 55px; }

.mr55 {
  margin-right: 55px; }

.mb55 {
  margin-bottom: 55px; }

.ml55 {
  margin-left: 55px; }

.mtb55 {
  margin-top: 55px;
  margin-bottom: 55px; }

.mrl55 {
  margin-right: 55px;
  margin-left: 55px; }

.m60 {
  margin: 60px; }

.mt60 {
  margin-top: 60px; }

.mr60 {
  margin-right: 60px; }

.mb60 {
  margin-bottom: 60px; }

.ml60 {
  margin-left: 60px; }

.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mrl60 {
  margin-right: 60px;
  margin-left: 60px; }

.p0 {
  padding: 0px; }

.pt0 {
  padding-top: 0px; }

.pr0 {
  padding-right: 0px; }

.pb0 {
  padding-bottom: 0px; }

.pl0 {
  padding-left: 0px; }

.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.prl0 {
  padding-left: 0px;
  padding-right: 0px; }

.p5 {
  padding: 5px; }

.pt5 {
  padding-top: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.pl5 {
  padding-left: 5px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.prl5 {
  padding-left: 5px;
  padding-right: 5px; }

.p10 {
  padding: 10px; }

.pt10 {
  padding-top: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pl10 {
  padding-left: 10px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.prl10 {
  padding-left: 10px;
  padding-right: 10px; }

.p15 {
  padding: 15px; }

.pt15 {
  padding-top: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pl15 {
  padding-left: 15px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.prl15 {
  padding-left: 15px;
  padding-right: 15px; }

.p20 {
  padding: 20px; }

.pt20 {
  padding-top: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pl20 {
  padding-left: 20px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.prl20 {
  padding-left: 20px;
  padding-right: 20px; }

.p25 {
  padding: 25px; }

.pt25 {
  padding-top: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.pl25 {
  padding-left: 25px; }

.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.prl25 {
  padding-left: 25px;
  padding-right: 25px; }

.p30 {
  padding: 30px; }

.pt30 {
  padding-top: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pl30 {
  padding-left: 30px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.prl30 {
  padding-left: 30px;
  padding-right: 30px; }

.p35 {
  padding: 35px; }

.pt35 {
  padding-top: 35px; }

.pr35 {
  padding-right: 35px; }

.pb35 {
  padding-bottom: 35px; }

.pl35 {
  padding-left: 35px; }

.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.prl35 {
  padding-left: 35px;
  padding-right: 35px; }

.p40 {
  padding: 40px; }

.pt40 {
  padding-top: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pl40 {
  padding-left: 40px; }

.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.prl40 {
  padding-left: 40px;
  padding-right: 40px; }

.p45 {
  padding: 45px; }

.pt45 {
  padding-top: 45px; }

.pr45 {
  padding-right: 45px; }

.pb45 {
  padding-bottom: 45px; }

.pl45 {
  padding-left: 45px; }

.ptb45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.prl45 {
  padding-left: 45px;
  padding-right: 45px; }

.p50 {
  padding: 50px; }

.pt50 {
  padding-top: 50px; }

.pr50 {
  padding-right: 50px; }

.pb50 {
  padding-bottom: 50px; }

.pl50 {
  padding-left: 50px; }

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.prl50 {
  padding-left: 50px;
  padding-right: 50px; }

.p55 {
  padding: 55px; }

.pt55 {
  padding-top: 55px; }

.pr55 {
  padding-right: 55px; }

.pb55 {
  padding-bottom: 55px; }

.pl55 {
  padding-left: 55px; }

.ptb55 {
  padding-top: 55px;
  padding-bottom: 55px; }

.prl55 {
  padding-left: 55px;
  padding-right: 55px; }

.p60 {
  padding: 60px; }

.pt60 {
  padding-top: 60px; }

.pr60 {
  padding-right: 60px; }

.pb60 {
  padding-bottom: 60px; }

.pl60 {
  padding-left: 60px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.prl60 {
  padding-left: 60px;
  padding-right: 60px; }

html,
body {
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4; }

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline li,
.list-inline list-inline-item {
  display: inline-block; }

.text-grey {
  color: #707070; }

.underline {
  text-decoration: underline; }

button,
a:visited,
a:active,
a:focus {
  outline: none; }

.slick-slider:focus,
.slick-slider .slick-slide:focus,
.slick-slider a:visited,
.slick-slider a:active,
.slick-slider a:focus {
  outline: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@media (min-width: 768px) {
  .search-page .position-relative-web {
    position: relative; } }
.search-page .card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  height: 100%; }
  .search-page .card .p-card-title, .search-page .card .p-author {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .search-page .card .p-card-info {
    overflow: hidden;
    position: relative; }
  .search-page .card .on-hover, .search-page .card .no-hover {
    min-height: 95px; }
  .search-page .card .on-hover {
    background-color: #fff;
    bottom: -180%;
    left: 0;
    position: absolute;
    transition: bottom 0.5s ease; }
  .search-page .card:hover .on-hover {
    bottom: 0%; }
@media (min-width: 768px) {
  .search-page .drop-down-wrapper {
    position: absolute;
    right: -300%;
    top: 0;
    z-index: 1; }
    .search-page .drop-down-wrapper .select-dropdown {
      position: relative;
      display: inline-block; }
      .search-page .drop-down-wrapper .select-dropdown .dropdown-content {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        margin: 0 auto;
        background-color: #fff;
        min-width: 160px;
        border: 1px solid #707070;
        z-index: 1; }
        .search-page .drop-down-wrapper .select-dropdown .dropdown-content a {
          font-size: 12px;
          display: block; }
          .search-page .drop-down-wrapper .select-dropdown .dropdown-content a:focus {
            outline: none; }
        .search-page .drop-down-wrapper .select-dropdown .dropdown-content a:hover {
          background-color: rgba(0, 0, 0, 0.16); }
      .search-page .drop-down-wrapper .select-dropdown .dropbtn {
        display: flex;
        cursor: pointer;
        font-size: 14px;
        padding: 5px 30px 5px 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: url(../images/icons/arrow-down.svg) no-repeat 92% center;
        background-size: 10px 10px; }
      .search-page .drop-down-wrapper .select-dropdown .dropbtn, .search-page .drop-down-wrapper .select-dropdown a {
        color: #191515; }
      .search-page .drop-down-wrapper .select-dropdown:hover .dropbtn {
        border-color: #707070; }
      .search-page .drop-down-wrapper .select-dropdown:hover .dropdown-content {
        display: block; } }
.search-page .p-card-info button {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #b91616; }
  .search-page .p-card-info button.add-cart {
    background-color: #b91616;
    color: #fff; }
  .search-page .p-card-info button.wishlist {
    color: #b91616;
    background-color: #fff; }
    .search-page .p-card-info button.wishlist svg {
      height: 16px;
      width: 20px; }
.search-page .p-price-info {
  font-size: 15px; }
  .search-page .p-price-info .actual-price {
    color: #ccc;
    text-decoration: line-through; }
  .search-page .p-price-info .discount {
    color: #ec4b14;
    font-size: 10px; }
@media (min-width: 768px) {
  .search-page .filter-bar {
    border-right: 2px dashed #ccc; } }
@media (max-width: 767px) {
  .search-page .filter-bar {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0; }
    .search-page .filter-bar .bottom-sheet {
      width: 50%;
      position: relative; }
      .search-page .filter-bar .bottom-sheet:first-child .dropbtn:after {
        content: '';
        background-color: #ccc;
        height: 50px;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0; }
    .search-page .filter-bar .dropbtn {
      width: 100%;
      height: 50px;
      background-color: #fff;
      border: 0;
      border-top: 1px solid #ccc;
      bottom: 0;
      position: absolute; }
    .search-page .filter-bar .sheet-content {
      display: none;
      overflow: hidden;
      position: fixed;
      height: 100%;
      width: 100%;
      bottom: 50px;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.1); }
      .search-page .filter-bar .sheet-content.dropdown-content a {
        display: block;
        padding: 10px 0;
        color: #191515; }
    .search-page .filter-bar .sheet {
      padding: 15px;
      overflow-y: auto;
      background-color: #fff;
      max-height: 50vh;
      position: fixed;
      bottom: 50px;
      left: 0;
      right: 0; } }
.search-page .filter-categories .filter-title {
  font-size: 18px;
  color: #26358c; }
.search-page .filter-categories li {
  font-weight: 500; }

@media (max-width: 767px) {
  .fixed-scroll {
    position: fixed;
    overflow: hidden; } }

/*# sourceMappingURL=search-page.css.map */
