/*
Error: It's not clear which file to import for '@import "bootstrap/*"'.
       Candidates:
         bootstrap/_alert.scss
         bootstrap/_badge.scss
         bootstrap/_breadcrumb.scss
         bootstrap/_button-group.scss
         bootstrap/_buttons.scss
         bootstrap/_card.scss
         bootstrap/_carousel.scss
         bootstrap/_close.scss
         bootstrap/_code.scss
         bootstrap/_custom-forms.scss
         bootstrap/_dropdown.scss
         bootstrap/_forms.scss
         bootstrap/_functions.scss
         bootstrap/_grid.scss
         bootstrap/_images.scss
         bootstrap/_input-group.scss
         bootstrap/_jumbotron.scss
         bootstrap/_list-group.scss
         bootstrap/_media.scss
         bootstrap/_mixins.scss
         bootstrap/_modal.scss
         bootstrap/_nav.scss
         bootstrap/_navbar.scss
         bootstrap/_pagination.scss
         bootstrap/_popover.scss
         bootstrap/_print.scss
         bootstrap/_progress.scss
         bootstrap/_reboot.scss
         bootstrap/_root.scss
         bootstrap/_spinners.scss
         bootstrap/_tables.scss
         bootstrap/_toasts.scss
         bootstrap/_tooltip.scss
         bootstrap/_transitions.scss
         bootstrap/_type.scss
         bootstrap/_utilities.scss
         bootstrap/_variables.scss
         bootstrap/bootstrap-grid.scss
         bootstrap/bootstrap-reboot.scss
         bootstrap/bootstrap.scss
         bootstrap/_alert.scss
         bootstrap/_badge.scss
         bootstrap/_breadcrumb.scss
         bootstrap/_button-group.scss
         bootstrap/_buttons.scss
         bootstrap/_card.scss
         bootstrap/_carousel.scss
         bootstrap/_close.scss
         bootstrap/_code.scss
         bootstrap/_custom-forms.scss
         bootstrap/_dropdown.scss
         bootstrap/_forms.scss
         bootstrap/_functions.scss
         bootstrap/_grid.scss
         bootstrap/_images.scss
         bootstrap/_input-group.scss
         bootstrap/_jumbotron.scss
         bootstrap/_list-group.scss
         bootstrap/_media.scss
         bootstrap/_mixins.scss
         bootstrap/_modal.scss
         bootstrap/_nav.scss
         bootstrap/_navbar.scss
         bootstrap/_pagination.scss
         bootstrap/_popover.scss
         bootstrap/_print.scss
         bootstrap/_progress.scss
         bootstrap/_reboot.scss
         bootstrap/_root.scss
         bootstrap/_spinners.scss
         bootstrap/_tables.scss
         bootstrap/_toasts.scss
         bootstrap/_tooltip.scss
         bootstrap/_transitions.scss
         bootstrap/_type.scss
         bootstrap/_utilities.scss
         bootstrap/_variables.scss
       Please delete or rename all but one of these files.
        on line 6 of D:/task/sagedata/assets/scss/style.scss

1: @import "partials/variables";
2: @import "partials/mixins";
3: @import "partials/gutters";  ;
4: @import "partials/global";
5: 
6: @import "bootstrap/*";
7: 
8: 
9: @import "../slick/slick";
10: @import "../slick/slick-theme";
11: @import "common/header";

Backtrace:
D:/task/sagedata/assets/scss/style.scss:6
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:44:in `import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
C:/Ruby26-x64/bin/compass:23:in `load'
C:/Ruby26-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: It's not clear which file to import for '@import \"bootstrap/*\"'.\A        Candidates:\A          bootstrap/_alert.scss\A          bootstrap/_badge.scss\A          bootstrap/_breadcrumb.scss\A          bootstrap/_button-group.scss\A          bootstrap/_buttons.scss\A          bootstrap/_card.scss\A          bootstrap/_carousel.scss\A          bootstrap/_close.scss\A          bootstrap/_code.scss\A          bootstrap/_custom-forms.scss\A          bootstrap/_dropdown.scss\A          bootstrap/_forms.scss\A          bootstrap/_functions.scss\A          bootstrap/_grid.scss\A          bootstrap/_images.scss\A          bootstrap/_input-group.scss\A          bootstrap/_jumbotron.scss\A          bootstrap/_list-group.scss\A          bootstrap/_media.scss\A          bootstrap/_mixins.scss\A          bootstrap/_modal.scss\A          bootstrap/_nav.scss\A          bootstrap/_navbar.scss\A          bootstrap/_pagination.scss\A          bootstrap/_popover.scss\A          bootstrap/_print.scss\A          bootstrap/_progress.scss\A          bootstrap/_reboot.scss\A          bootstrap/_root.scss\A          bootstrap/_spinners.scss\A          bootstrap/_tables.scss\A          bootstrap/_toasts.scss\A          bootstrap/_tooltip.scss\A          bootstrap/_transitions.scss\A          bootstrap/_type.scss\A          bootstrap/_utilities.scss\A          bootstrap/_variables.scss\A          bootstrap/bootstrap-grid.scss\A          bootstrap/bootstrap-reboot.scss\A          bootstrap/bootstrap.scss\A          bootstrap/_alert.scss\A          bootstrap/_badge.scss\A          bootstrap/_breadcrumb.scss\A          bootstrap/_button-group.scss\A          bootstrap/_buttons.scss\A          bootstrap/_card.scss\A          bootstrap/_carousel.scss\A          bootstrap/_close.scss\A          bootstrap/_code.scss\A          bootstrap/_custom-forms.scss\A          bootstrap/_dropdown.scss\A          bootstrap/_forms.scss\A          bootstrap/_functions.scss\A          bootstrap/_grid.scss\A          bootstrap/_images.scss\A          bootstrap/_input-group.scss\A          bootstrap/_jumbotron.scss\A          bootstrap/_list-group.scss\A          bootstrap/_media.scss\A          bootstrap/_mixins.scss\A          bootstrap/_modal.scss\A          bootstrap/_nav.scss\A          bootstrap/_navbar.scss\A          bootstrap/_pagination.scss\A          bootstrap/_popover.scss\A          bootstrap/_print.scss\A          bootstrap/_progress.scss\A          bootstrap/_reboot.scss\A          bootstrap/_root.scss\A          bootstrap/_spinners.scss\A          bootstrap/_tables.scss\A          bootstrap/_toasts.scss\A          bootstrap/_tooltip.scss\A          bootstrap/_transitions.scss\A          bootstrap/_type.scss\A          bootstrap/_utilities.scss\A          bootstrap/_variables.scss\A        Please delete or rename all but one of these files.\A         on line 6 of D:/task/sagedata/assets/scss/style.scss\A \A 1: @import \"partials/variables\";\A 2: @import \"partials/mixins\";\A 3: @import \"partials/gutters\";  ;\A 4: @import \"partials/global\";\A 5: \A 6: @import \"bootstrap/*\";\A 7: \A 8: \A 9: @import \"../slick/slick\";\A 10: @import \"../slick/slick-theme\";\A 11: @import \"common/header\";"; }
