// OFFCANVAS - navicon
// ===================
// Note: In addition to the code below, the left/right position of the navicon is controlled on a per-option basis.
// See `_options.scss`
// Animated (transforming) navicon is based on http://www.transformicons.com

#offcanvas-navicon {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0;
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  height: 28px;
  width: 30px;
  z-index: $offcanvas-overlay-z-index + 1;
  transition: $offcanvas-transition;

    &:after,
    &:before,
    span {
      display: block;
      content: '';
      display: block;
      height: 2px;
      margin: 5px;
      border-radius: 2px;
      background: #000;
			transition: $offcanvas-transition;
    }
    &:hover {
      cursor: pointer;
    }
}

/*.offcanvas-open #offcanvas-navicon {
  position: fixed;
  top: 0;
  left: 250px;
  transform: translateY(0);
  background: #f0f0f0;
  border-color: transparent;
  border-radius: 0 4px 4px 0;
  height: 40px;
  width: 40px;
  padding: 5px;

  &:before {
			transform: translate3d(0, 8px, 0) rotate(135deg);
    }
    &:after {
			transform: translate3d(0, -8px, 0) rotate(-135deg);
    }
    span {
      margin: 5.5px;
			transform: scale(0);
    }
}*/
