


.offer-row {
  border-top: 2px dashed $grey1;
  border-bottom: 2px dashed $grey1;
}

.sage-accelerate {

  .heading {
    border-bottom: 5px solid $red-2f;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1.25px;
    text-transform: uppercase;

  }

  .heading-sub-text {
    font-size: 20px;
    color: #0b0b0b;
  }

  .listing-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 20px;
      letter-spacing: 1px;
      color: $red-2f;
      text-transform: uppercase;
    }
  }

  .article-list {

    .list-item {
      box-shadow: 0 1px 2px 0 $light-grey;
      background-color: $off-white;
      margin-bottom: 15px;
      padding: 10px;
    }
    .item-heading {
      font-size: 24px;
      font-weight: normal;
    }
    .text-content {
      font-size: 16px;
    }
    .article-link {
      color: $navy-blue;
    }
    .read-more {
      color: $red-2f;
    }
  }
}

.be-a-sage {
  position: relative;

  a {
    color: $red-light;
  }
  .text-1,
  .text-2,
  .text-3 {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .text-1 {
    font-size: 18px;
    max-width: 326px;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 3%;
  }
  .text-2 {
    font-size: 15px;
    max-width: 138px;
    top: 42%;
    right: 13%;
  }
  .text-3 {
    font-size: 30px;
    line-height: 1.2;
    max-width: 125px;
    bottom: 22.5%;
    left: 13.1%;
  }
}




