.top-carousel-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  width: 100%;
}

.top-deals {
  border-top: 2px dashed $grey1;
  border-bottom: 2px dashed $grey1;

  @media (max-width: 420px) {
    .img-fluid {
      max-width: 260px;
    }
  }
}

.top-books {
  border-bottom: 2px dashed rgba(112, 112, 112, 0.5);

  .top-books-carousel {

    .book-banner-link {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

    .slick-prev:before,
    .slick-next:before {
      content: '';
      display: inline-block;
      width: 33px;
      height: 48px;
    }

    .slick-prev:before {
      background: url("/assets/images/carousel_arrow_prev.svg") no-repeat 0 0 / contain;
    }

    .slick-next:before {
      background: url("/assets/images/carousel_arrow_next.svg") no-repeat 0 0 / contain;
    }

    @media (max-width: 767px) {
      .slick-prev {
        left: -15px;
      }

      .slick-next {
        right: -15px;
      }

      .slick-prev:before,
      .slick-next:before {
        width: 14px;
        height: 22px;
      }
    }
  }
}

.sage-accelerate {

  .heading {
    border-bottom: 5px solid $red-2f;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 1.25px;
    text-transform: uppercase;

  }

  .heading-sub-text {
    font-size: 20px;
    color: #0b0b0b;
  }

  .listing-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 20px;
      letter-spacing: 1px;
      color: $red-2f;
      text-transform: uppercase;
    }
  }

  .article-list {

    .list-item {
      box-shadow: 0 1px 2px 0 $light-grey;
      background-color: $off-white;
      margin-bottom: 15px;
      padding: 10px;
    }
    .item-heading {
      font-size: 24px;
      font-weight: normal;
    }
    .text-content {
      font-size: 16px;
    }
    .article-link {
      color: $navy-blue;
    }
    .read-more {
      color: $red-2f;
    }
  }

  @media (max-width: 1199px) {
    .heading {
      font-size: 22px;
    }
    .heading-sub-text,
    .listing-heading span {
      font-size: 18px;
    }
    .article-list .item-heading {
      font-size: 20px;
    }
    .article-list .text-content {
      font-size: 13px;
    }
    .media .img-link {
      max-width: 100px;
    }

    .be-a-sage {
      margin-top: 70px;

      .text-1 {
        font-size: 14px;
        max-width: 262px;
        top: 75px;
      }

      .text-2 {
        font-size: 12px;
        max-width: 108px;
        top: 43%;
        right: 12.5%;
      }

      .text-3 {
        font-size: 26px;
        line-height: 1.2;
        max-width: 125px;
        bottom: 20%;
        left: 15.5%;
      }
    }
  }

  @media (max-width: 991px) {
    .heading {
      font-size: 22px;
    }
    .heading-sub-text,
    .listing-heading span {
      font-size: 14px;
    }
    .article-list .item-heading {
      font-size: 16px;
    }
    .article-list .text-content {
      font-size: 12px;
    }
  }

  @media (max-width: 767px) {
    .heading {
      font-size: 18px;
    }
    .be-a-sage {
      margin-top: 0;
      margin-bottom: 20px;

      .text-1 {
        font-size: 16px;
        max-width: 360px;
        top: 110px;
      }

      .text-2 {
        font-size: 16px;
        max-width: 150px;
      }

      .text-3 {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 500px) {
    .be-a-sage {

      .text-1 {
        max-width: 280px;
        top: 80px;
      }

      .text-2 {
        font-size: 14px;
        max-width: 130px;
      }

      .text-3 {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 420px) {
    .heading-sub-text,
    .listing-heading span {
      font-size: 14px;
    }
    .article-list .item-heading {
      font-size: 14px;
    }
    .article-list .text-content {
      font-size: 11px;
    }

    .be-a-sage {

      .text-1 {
        max-width: 230px;
        top: 70px;
        font-size: 13px;
      }

      .text-2 {
        font-size: 11px;
        max-width: 100px;
        right: 11.6%;
      }

      .text-3 {
        font-size: 24px;
      }
    }
  }

  @media (max-width: 360px) {
    .be-a-sage {

      .text-1 {
        max-width: 230px;
        top: 48px;
        font-size: 13px;
      }

      .text-2 {
        font-size: 11px;
        max-width: 100px;
        right: 11.6%;
      }

      .text-3 {
        font-size: 24px;
      }
    }
  }
}

.be-a-sage {
  position: relative;

  a {
    color: $red-light;
  }
  .text-1,
  .text-2,
  .text-3 {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .text-1 {
    font-size: 18px;
    max-width: 326px;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 3%;
  }
  .text-2 {
    font-size: 15px;
    max-width: 138px;
    top: 42%;
    right: 13%;
  }
  .text-3 {
    font-size: 30px;
    line-height: 1.2;
    max-width: 125px;
    bottom: 22.5%;
    left: 13.1%;
  }
}




