
.dashed-border {
  border-bottom: 2px dashed rgba(112, 112, 112, 0.5);
  margin-bottom: 30px;
}
.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.rating-stars {
  //Color variables
  $default-fill: #fff;
  $default-outline: #d82e29;
  $rated-fill: #d82e29;
  $rated-outline: #d82e29;

  //Sturcture variables
  $default-rated-width: 155px;
  $rated-fullwidth: 155px;
  $star-width: 27px;
  $star-height: 25px;

  position: relative;
  display: inline-block;

  span, i {
    display: inline-block;
  }

  .star {
    font-size: 0;
    float: left;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
    svg {
      display: inline-block;
      width: $star-width;
      height: $star-height;
    }
  }

  .default-fill {
    color: $default-fill;
  }
  .default-outline {
    color: $default-outline;
  }
  .rated-fill {
    color: $rated-fill;
  }
  .rated-outline {
    color: $rated-outline;
  }

  .default, rated {
    position: relative;
  }

  .default, .rated {
    width: $default-rated-width;

    .default-fill,
    .default-outline,
    .rated-fill,
    .rated-outline {
      font-size: 0;
      position: absolute;
    }
  }

  .rated {
    width: $rated-fullwidth;
    height: $star-height;
    overflow: hidden;

    .rated-value {
      //width: 50%;
      height: inherit;
      position: relative;
      overflow: hidden;
    }

    .rated-fill,
    .rated-outline {
      width: $rated-fullwidth;
      overflow: hidden;
      height: inherit;
    }
  }
}

.product-section {

  .product-details-wrap {
    padding-top: 40px;

    @media (max-width: 767px) {
      padding-top: 10px;
    }
  }


  .product-info-wrap {
    a {
      text-decoration: underline;
    }

    .product-title {
      font-weight: bold;
    }
    .product-subtitle {
      color: rgba(0, 0, 0, .75);
      font-size: 20px;
      font-weight: normal;
    }
    .rating-container {

      .rating-info {
        font-size: 20px;
        color: #707070;
      }
    }
    .author-info,
    .book-trace,
    .book-description {
      font-size: 15px;
    }
    .book-trace {
      color: #707070;
    }
    .book-description {
      .read-more {
        //text-decoration: underline;
      }
    }
    .offer-info {
      font-size: 20px;
    }
    .read-more {
      color: #c4122f;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .action-card {

    .product-sharing {
      .sharing-text {
        font-size: 18px;
        position: relative;
        top: 2px;
      }
      .list-item {
        margin-right: 5px;
        margin-left: 5px;
      }
    }

    .action-card-inner {
      border: solid 1px rgba(0, 0, 0, .35);
      border-radius: 2px;
      background-image: linear-gradient(to bottom, #d9d9d9, #efeded);
      padding: 30px 20px 20px;

      @media (max-width: 767px) {
        background: none;
        border: none;
        padding: 0;

        .price-offer-info {
          border: solid 1px rgba(0, 0, 0, .35);
          border-radius: 2px;
          background-image: linear-gradient(to bottom, #d9d9d9, #efeded);
          padding: 15px 20px 0px;
          margin-bottom: 20px;
        }
      }

      .mrp {
        font-size: 30px;
      }

      .buy-now-price,
      .offer-text {
        font-size: 18px;
      }
      .offer-text {
        color: #26358c;
      }
      .cta-wrap {

        .button {
          width: 100%;
          padding: 8px 15px;
          font-size: 20px;
          background: #344293;
          color: $white;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 10px;

          &.buy-now {
            background: #d86629;
            background-image: linear-gradient(to bottom, #f57840, #d86629);
            border-radius: 2px;
            font-size: 22px;
            text-transform: uppercase;
          }

          span {
            margin-left: 6px;
            position: relative;
            top: 2px;
          }
        }

        @media (max-width: 767px) {
          background: $white;
          border-radius: 10px;
          position: sticky;
          bottom: 0;
          z-index: 9;

          .wishlist {
            background: $white;
            border: 1px solid #344293;
            border-right-color: $white;
            color: #344293;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            max-width: 80px;
          }
          .add-to-cart {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}

.about-author {

  .text-content {
    font-size: 15px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 30px;
    }
  }
  .read-more {
    color: #c4122f;
    //text-decoration: underline;
  }
}

.matching-combo {

  .combo-list {
    margin-right: -15px;
    margin-left: -15px;

    .list-item {
      margin-bottom: 15px;
      padding-right: 15px;
      padding-left: 15px;

      &:nth-child(even) {
        padding-right: 0;
        padding-left: 0;
      }
      &:last-child {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    .add {
      font-size: 50px;
      font-weight: bold;
    }
    .cta {
      min-width: 230px;
      width: 100%;
      padding: 8px 15px;
      font-size: 20px;
      background: #344293;
      color: $white;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 10px;

      svg {
        margin-right: 10px;
      }
    }

    @media (max-width: 460px) {
      .combo-img {
        max-width: 115px;
      }
      .add {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 767px) {
    .combo-list-wrap {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.editors-pick,
.customer-choice {

  .customer-choice-carousel,
  .editors-pick-carousel {

    .book-banner-link {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }
    .slick-arrow {
      width: 32px;
      height: 32px;
    }
    .slick-prev:before,
    .slick-next:before {
      content: '';
      display: inline-block;
      width: inherit;
      height: inherit;
    }

    .slick-prev:before {
      background: url("/assets/images/carousel_arrow_prev.svg") no-repeat 0 0 / contain;
    }

    .slick-next:before {
      background: url("/assets/images/carousel_arrow_next.svg") no-repeat 0 0 / contain;
    }

    @media (max-width: 767px) {
      .slick-prev {
        left: -15px;
      }

      .slick-next {
        right: -15px;
      }

      .slick-prev:before,
      .slick-next:before {
        width: 14px;
        height: 22px;
      }
    }
  }

  @media (max-width: 575px) {
    padding-right: 0;
    padding-left: 0;
  }
}
