.main-header {
  .top-notification {
    background: $yellow;
    font-size: 12px;
    color: $regular-text;
    position: relative;

    .top-notification-link {
      color: $red;
    }

    .top-notification-close {
      background: none;
      border: 0;
      cursor: pointer;
      position: absolute;
      top: -5px;
      right: 15px;
      padding: 5px;
      z-index: 2;
    }
  }

  .sup {
    color: $red-light;
  }

  .top-menu {
    font-size: 16px;

    a {
      color: $regular-text;
    }

    .tm-right {

      span {
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .header-banner {
    background: url("../images/header_promotion.jpg") no-repeat center;
    height: 27px;
    background-size: contain;
    @media (min-width: 991px) {
      height: 134px;
      display: none;
    }
  }

  .navbar-brand {
    width: 75px;
    @media (min-width: 992px) {
      width: 217px;
    }

    @media (min-width: 768px) {
      width: 150px;
    }

  }

  .search-icon {
    max-height: 25px;
    @media (min-width: 992px) {
      max-height: 40px;

    }

  }

  .form-surface {
    @media (min-width: 992px) {
      max-width: 628.9px;
    }

    form {
      border: solid 1px $navy-blue;
      background-color: $white;
      height: 35px;
      border-radius: 24px;
      font-size: 16px;

      @media (min-width: 992px) {
        height: 45px;
        border-radius: 34px;
        font-size: 19px;
      }
    }

    .form-control {
      opacity: 0;
    }
  }

  .icon-row {
    img {
      max-width: 40px;
    }
    @media (max-width: 991px) {
      border-top: 1px dashed $grey-cc;
    }
  }

  .help-search {
    color: $navy-blue;
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 20px;
    }


    img {
      max-height: 20px;
    }
  }

  .custom-pos {
    top:55px;

    @media  (min-width: 768px){
      top:85px;
    }
    @media (max-width: 991px) {
      position: absolute;
      width: 100%;
      z-index: 2;
      background: $white;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 10px 0;
      box-shadow: 0px 5px 5px 0 $shadow;
    }
  }

  .bottom-menu {
    border-top: 1px dashed $grey-cc;
    border-bottom: 1px dashed $grey-cc;

    a {
      font-size: 15px;
      color: $black;
    }
  }
}
